* {
  padding: 0;
  margin: 0;
}

:root {
  --color-back-first-sec: #1f2937;
  --text-color: #e5e7eb;
  --main-text-color: #f9faf8;
  --button-color: #3882f6;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  color: white;
}

.container {
  width: 100%;
  max-width: 100rem;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* first section Start */
.logo {
  width: 50px;
  height: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.first-section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-back-first-sec);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: var(--text-color);
  padding: 12px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header-links {
  display: flex;
  gap: 16px;
}

.img1 {
  width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.first-section-content {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 18px;
  gap: 10%;
  padding: 70px 0;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: var(--main-text-color);
  flex: 1;
}

.intro {
  line-height: 1.6;
}

button {
  padding: 6px 30px;
  color: white;
  border-radius: 6px;
  background-color: var(--button-color);
  border: none;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 18px;
  margin-top: 8px;
}

.left-content {
  width: 40%;
  flex: 1;
  padding: 16px;
}
/* first section End */

/* second section start */
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 30px;
  background-color: white;
  gap: 40px;
}

.second-section .heading {
  color: var(--color-back-first-sec);
  font-size: 36px;
  font-weight: 900;
}

.img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.img-text .img2 {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.second-section .second-section-content {
  display: flex;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}
/* second section end */

.third-section {
  color: var(--color-back-first-sec);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  gap: 20px;
}

.quote {
  width: 80%;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 200;
}

.quote-author {
  margin-left: auto;
  font-weight: bold;
}

.fourth-section {
  padding: 70px 0;
}

.blue-box {
  display: flex;
  background-color: var(--button-color);
  padding: 36px;
  justify-content: space-around;
  align-items: end;
  gap: 10%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.fourth-section-button {
  border: 2px solid white;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
